@import 'variables';

@media only screen and (max-width: 808px) { 
	.legend {
		left: 62% !important;
		font-size: 10px !important;
		margin-top: 5% !important;

		.legend-item {
			.circle-1 {
				width: 10px !important;
				height: 10px !important;
			}

			.circle-2 {
				width: 10px !important;
				height: 10px !important;
			}

			.circle-3 {
				width: 10px !important;
				height: 10px !important;
			}

			.circle-4 {
				width: 10px !important;
				height: 10px !important;
			}
		}
	}
}

@media only screen and (max-width: 700px) {
	.mailer-icon { color: white !important; }

  .parent-left-container {
    width: 96vw !important;

    .intro-copy {
      line-height: 28px !important;
    }

    .learn-more-button {
      padding: 5px !important;
    }

    .main-copy {

      h3:last-of-type { top: -10px !important; }

      p {
        margin-top: 10px !important;
        font-size: 2.6vh !important;
        line-height: 25px !important;
      }
    }
  }
}


@media only screen and (max-width: 469px) {  

	.ricky-image { display: none !important; }

	.legend {
		font-size: 14px !important;

		.legend-item {

			.circle-1 {
				margin-top: 3px !important;
			}

			.circle-2 {
				margin-top: 3px !important;
			}

			.circle-3 {
				margin-top: 3px !important;
			}

			.circle-4 {
				margin-top: 3px !important;
			}
		}
	}


	.width-animation {
		animation: none !important;
	}

	.parent-left-container {
		width: 96vw !important;
	}
}

