$main-bg-color: #79b4cb;
$dark-font: #333;
$white: #fff;
$black: #000;
$shadow: #573000;
$color: #E94E3D;
$glitch: glitch .5s;

@mixin orangeButton {
  background: #e77e00;
  border-radius: 20px;
  border: none;
  color: $white;
  width: 160px;
  height: 35px;
  line-height: 35px;
  padding-top: 0;
  text-align: center;
  font-weight: bold;
  font-size: 16px;
  transition: all 1s;

  &:hover { 
    cursor: pointer; 
    box-shadow: 2px 3px 6px $shadow;
    letter-spacing: .4px;
  }
}

@keyframes glitch {
	10% {
		transform: skew(20deg);
  }

	50% {
		transform: skew(620deg);
  }

	90% {
		transform: skew(-620deg);
  }
}

@keyframes fadeIn {
	0% {
		margin-top: 20px;
		opacity: 0; 
	}

	100% {
		margin-top: 0;
		opacity: 1; 
	}
}

@keyframes width {
  0% {
    width: 96vw;
  }
  100% {
    width: 48vw;
  }
}

@keyframes mouseDown {
	0% {
		bottom: 4%;
	}

	100% {
		opacity: 1;
		bottom: 3%;
	}
}

@keyframes chartFill-html {
	0% {
		width: 0;
	}

	100% {
		width: 95%;
	}
}

@keyframes chartFill-css {
	0% {
		width: 0;
	}

	100% {
		width: 90%;
	}
}

@keyframes chartFill-js {
	0% {
		width: 0;
	}

	100% {
		width: 85%;
	}
}

/* 1st pie is 40% */
@keyframes pie1 {
  50%,100% {stroke-dasharray: 40,60,0,0;}
}
/* 2nd pie is 30% */
@keyframes pie2 {
  50%,100% {stroke-dasharray: 0,40,30,30;}
}
/* 3rd pie is 30% */
@keyframes pie3 {
  50%,100% {stroke-dasharray: 0,70,20,10;}
}
/* 4th pie is 10% */
@keyframes pie4 {
  50%,100% {stroke-dasharray: 0,90,10,0;}
}

