$main-bg-color: #79b4cb;
$dark-font: #333;
$white: #fff;
$black: #000;

body.root-container {
  background-color: $main-bg-color;
	width:100%;
	height:100%;
	margin:0;
	position:relative;
  color: $dark-font;
  font-family: -apple-system, BlinkMacSystemFont, "Avenir Next", "Avenir",
    "Segoe UI", "Lucida Grande", "Helvetica Neue", "Helvetica", "Fira Sans",
    "Roboto", "Noto", "Droid Sans", "Cantarell", "Oxygen", "Ubuntu",
    "Franklin Gothic Medium", "Century Gothic", "Liberation Sans", sans-serif;
}

.parent-container {
  width: 80%;
  margin: 4vw auto;

  .left-container {
    width: 50%;
    float: left;

    .main-header-font {
      font-size: 8vw;
      line-height: 7vw; 
      margin: 0;
      padding: 0;	
    }

    h1 { font-weight: 100;}

    h3 {
      color: $white;
      opacity: 0.6;
    }

    hr { border-top: 1px solid $white; }

    p { line-height: 25px; }

    .sub-content-container {
      width: 100%;

      .sub-header {
        margin-top: 20px;
        background: rgba(0, 0, 0, 0.2);
        color: $white;
        width: 80px;
        text-align: center;
        height: 28px;	

        p { 
          font-size: 12px; 
          line-height: 28px;
        }
      }

      .skills { 
        margin-left: 15px; 

        h3 { 
          margin: 10px 0; 
          color: $black;
        }

        p {
          padding: 0;
          margin: 0; 
        }

        ul {
          padding: 0;

          li {
            list-style: none; 
            margin-bottom: 10px;
          } 
        }
      }  

      .portfolio-image-container {
        img { width: 100%; } 
      }
    }
  }

  .right-container {
    float: right;
    width: 50%;

    .ricky-image { width: 100%; }
  }
}

@media only screen and (max-width: 1046px) {
  .portfolio-container { width: 78vw; }
}

@media only screen and (max-width: 967px) {
  .learn-container { width: 78vw !important; }
}

@media only screen and (max-width: 495px) {
  .know-container { width: 78vw !important; }
}
