@import 'variables';
@import 'media_queries';

.clear { clear: both; }

.glitch { animation: $glitch; }

.thin-font { font-weight: 100; }

.o-white-font { 
	color: white;
	opacity: 0.6;	
}

body.root-container {
  background-color: $main-bg-color;
	width:100%;
	height:100%;
	margin:0;
  padding-bottom: 50px;
	position:relative;
  color: $dark-font;
  font-family: -apple-system, BlinkMacSystemFont, "Avenir Next", "Avenir",
    "Segoe UI", "Lucida Grande", "Helvetica Neue", "Helvetica", "Fira Sans",
    "Roboto", "Noto", "Droid Sans", "Cantarell", "Oxygen", "Ubuntu",
    "Franklin Gothic Medium", "Century Gothic", "Liberation Sans", sans-serif;
}

.parent-container {
  width: 90%;
  margin: 4vw auto;

  .left-container {
    width: 50%;
    float: left;
    padding-top: 20px;
		
		.header {
			.main-header-font {
				font-size: 8vw;
				line-height: 7vw; 
				margin: 0;
				padding: 0;	
				animation: $glitch;
			}

			a { 
				font-weight: 100;
				color: $white; 
				opacity: 0.8;
				transition: all .8s ease;

				&:hover { 
					opacity: 1;
					font-weight: bold;
				}
			}
		}

    .port-button {
      @include orangeButton;
    }

    h1 { font-weight: 100;}

    h3 {
      color: $white;
      opacity: 0.6;
    }

    hr { border-top: 1px solid $white; }

    p { line-height: 25px; }

    .sub-content-container {
      width: 100%;

      .sub-header {
        margin-top: 20px;
        background: rgba(0, 0, 0, 0.2);
        width: 80px;
        height: 28px;	
        text-align: center;
        color: $white;

        p { 
          font-size: 12px; 
          line-height: 28px;
        }
      }

      .skills { 
        margin-left: 15px; 

        h3 { 
          margin: 10px 0; 
          color: $black;
        }

        p {
          padding: 0;
          margin: 0; 
        }

        ul {
          padding: 0;

          li {
            margin-bottom: 20px;
            list-style: none; 

            span { 
              font-size: 13px; 
              font-style: italic; 
            }
          } 
        }
      }  

      .portfolio-image-container {
        position: relative;
        overflow: hidden;
        height: 400px;

        img { 
          width: 101%; 
          transition: 1s all;

          &:hover {
            transform: scale(1.2);
          }
        } 

        .port-overlay {
          display: none;
          position: absolute; 
          top: 0;
          width: 100%;
          height: 100%;
          background: black;
          opacity: .8;
          color: $white;

          .svg-inline--fa { 
            font-size: 100px; 
            position: absolute;
            left: 40%;
            top: 30%;
            animation: $glitch;
          }

          &:hover {
            cursor: pointer;
          }

        }
      }

    }
  }

  .right-container {
    float: right;
    position: absolute;
    right: 0;
    width: 50%;

    .ricky-image { 
			width: 100%; 
		}
  }

  .port-view-container {
    display: none;
    position: absolute;
    right: 0;
    width: 50%; 
    padding-top: 100px;
    padding-right: 40px;

    ul {
      padding: 0;

      li {
        list-style: none; 
      } 
    }

    .portfolio-grid-container {
			margin: 0 auto;
			width: 90%; 

      .port-description {
        width: 90%;

        h3 { 
					margin: 0; 
					font-size: 32px;
				}

				.description {
					margin: 0 0 10px 0;
				}
      }

			.port-image-container {

				img { 
					width: 100%;
					height: 30vw;
					float: right;
					margin-bottom: 40px;
					padding-left: 10px;
				}

				.case-study-btn {
					position: absolute;						
					bottom: 8px;;
					right: 0;
					color: white;
					margin-right: 6vw;
				}
			}
    }
  }
}

.close-button { 
  position: fixed;
	top: -500px;
  margin-left: 50px;
  color: white;
  font-size: 25px;
  z-index: 1000;
  cursor: pointer;

  span {
    font-size: 20px;
  }

  &:hover { 
		animation: $glitch;
		cursor: pointer 
	}
}

.contact-button {
	position: fixed;
	top: 80px;
	right: -35px;
	padding: 0 0 20px 0;
	color: white;
	background: red;
	width: 120px;
	height: 30px;
	overflow: hidden;
	transform: rotate(-90deg); 

	p { 
		margin: 0;
		line-height: 30px;
		text-align: center;
	}
}

.contact-form-container {
	width: 30vw;
	padding-left: 5vw;
	margin-top: 6vw;
	position: absolute;
	top: -1000px;

	.contact-form-header {
		width: 30vw;
	}

	input, textarea {
		border: none;
		border-radius: 10px;
		width: 40vw;	
		margin-bottom: 1vw;
		margin-top: 5px;
		padding-left: 10px;
		font-size: 16px;
	}

	label {
		font-size: 18px;
		font-weight: bold;
		margin-left: 5px;
		opacity: .7;
		transition: .4s all ease;
	}

	input {
		height: 35px;
	}

	textarea {
		padding: 10px 10px;
		height: 15vw;
	}

	button { 
    @include orangeButton;
	}
}

.success-message {
	display: none;
	width: 41vw;

	.return-home {
    margin-top: 20px;
    @include orangeButton;
	}
}
