@import 'variables';
@import 'media_queries';

.clear { clear: both; }

.glitch { animation: $glitch; }

.thin-font { font-weight: 100; }

.o-white-font { 
	color: white;
	opacity: 0.6;	
}

h1, h3, h4 { margin: 0; padding: 0; }

hr { border-top: solid #fff; } 
html { height: 100%; }

body.root-container {
	margin:0; color: $dark-font;
  font-family: "Montserrat", sans-serif;
  font-family: -apple-system, BlinkMacSystemFont, "Avenir Next", "Avenir",
    "Segoe UI", "Lucida Grande", "Helvetica Neue", "Helvetica", "Fira Sans",
    "Roboto", "Noto", "Droid Sans", "Cantarell", "Oxygen", "Ubuntu",
    "Franklin Gothic Medium", "Century Gothic", "Liberation Sans", sans-serif;
  text-rendering: optimizeLegibility;   
  -webkit-font-smoothing: antialiased; 
  -moz-osx-font-smoothing: grayscale;
}

.mailer-icon {
	float: right;
	position: absolute;
	top: 5px;
	right: 10px;
	z-index: -1;
	color: #4CAAD8;
	font-size: 30px;
  z-index: 10000;

  &:hover {
		cursor: pointer;
	}
}

.parent-container {
  min-height: 100vh;

  .parent-inner {
    padding-left: 2%;

    .parent-left-container {
      width: 96vw;
      min-height: 94vh;  
      position: absolute;
      top: 3%;
      left: 2.0%;

      color: $white;
      background: #53c5d3;

      .intro-copy {
        width: 50%;
        margin: 15% auto;

        strong { 
          position: relative;
          top: 30px;
          text-align: center;
          font-size: 4rem; 
          opacity: 0;
        } 

        span { 
          line-height: 30px; 
          opacity: 0;
        }

        .learn-more-button { 
					opacity: 0;
          background: #ff5851;
          padding: 10px;
          width: 120px;
          margin-top: 30px;
          border-radius: 30px;
          transition: all 1s ease-in-out;
          text-align: center;

          &:hover {
            cursor: pointer; 
            box-shadow: 2px 3px 6px #573000;
            letter-spacing: .4px;
          }
        }
      }

      .main-copy {
        display: none;
				box-sizing: border-box; 
        width: 70%;
        margin: 0 auto;
        word-wrap: break-word;

        h3 {
					color: black; 
					font-weight: 900;
					font-size: 13vh;

					&:last-of-type {
						position: relative;
						top: -30px;
					} 
				
				.period { color: #ff5851; }

        } 

				h4 { font-size: 5vh; }

				ul { 
					margin-top: 40px;
					color: black; 
					font-weight: 500;
					font-size: 2vh;

					li {
						margin-bottom: 10px;
					}
				}
      }
    }

    .parent-right-container {
      box-sizing: border-box; 
      width: 48vw;
      min-height: 94vh;  
      position: absolute;
      top: 3%;
      right: 2.0%;
      background: #f8f8f8;

      .ricky-image {
				opacity: 0;
        margin: 0 auto;
        height: 94vh; 
        display: block;
      }
    
    }
  }
}


