@import 'variables';
@import 'media_queries';

.clear { clear: both; }

.glitch { animation: $glitch; }

.thin-font { font-weight: 100; }
.o-white-font { 
	color: white;
	opacity: 0.6;	
}

h1, h3, h4 { margin: 0; padding: 0; }

hr { border-top: solid #fff; } 
html { height: 100%; }

body.root-container {
	margin:0; color: $dark-font;
  font-family: "Montserrat", sans-serif;
  font-family: -apple-system, BlinkMacSystemFont, "Avenir Next", "Avenir",
    "Segoe UI", "Lucida Grande", "Helvetica Neue", "Helvetica", "Fira Sans",
    "Roboto", "Noto", "Droid Sans", "Cantarell", "Oxygen", "Ubuntu",
    "Franklin Gothic Medium", "Century Gothic", "Liberation Sans", sans-serif;
  text-rendering: optimizeLegibility;   
  -webkit-font-smoothing: antialiased; 
  -moz-osx-font-smoothing: grayscale;
}

.mailer-icon {
	display: none;
	position: absolute;
	top: 5px;
	right: 10px;
	z-index: 1;
	color: #4CAAD8;
	opacity: .8;
	font-size: 25px;
  z-index: 10000;

	.fa-envelope {
		position: absolute;
		top: 0;
		right: 0;
		z-index: 100;

		&:hover {
			opacity: 0;
			cursor: pointer;
		}

		&:hover + .fa-envelope-open {
			opacity: 1;
		}
	}

	.fa-envelope-open {
		opacity: 0;
		position: absolute;
		top: -3px;
		right: 0;
	}
}	

.parent-container {
  min-height: 100vh;

  .parent-inner {
    padding-left: 2%;

    .parent-left-container-about {
			width: 96vw;
      min-height: 94vh;  
      position: absolute;
      top: 3%;
      left: 2.0%;
      color: $white;
      background: #53c5d3;

      .main-copy {
				opacity: 0;
				box-sizing: border-box; 
        width: 70%;
        margin: 0 auto;
        word-wrap: break-word;
				animation-duration: 1s;
				animation-delay: 1s;
				transition-timing-function: ease-in;
				animation-fill-mode: both;
				animation-name: fadeIn;

        h3 {
					color: black; 
					font-weight: 900;
					font-size: 13vh;

					&:last-of-type {
						position: relative;
						top: -30px;
					} 
				
					.period { color: #ff5851; }
        } 

				h4 { font-size: 5vh; }

				ul { 
					margin-top: 40px;
					color: black; 
					font-weight: 500;
					font-size: 2vh;

					li {
						margin-bottom: 10px;
					}
				}
      }
		}

    .parent-left-container-about {
			width: 96vw;
      min-height: 94vh;  
      position: absolute;
      top: 3%;
      left: 2.0%;
      color: $white;
      background: #53c5d3;


      .intro-copy { 
				width: 50%;
        margin: 15% auto;

        strong { 
          position: relative;
          top: 30px;
          text-align: center;
          font-size: 4rem; 
					opacity: 0;
        } 

        span { 
					opacity: 0;
          line-height: 30px; 
        }

				a { 
					text-decoration: none; 
					color: white;

					.learn-more-button { 
						opacity: 0;
						background: #ff5851;
						padding: 10px;
						width: 120px;
						margin-top: 30px;
						border-radius: 30px;
						text-align: center;

						&:hover {
							cursor: pointer; 
							box-shadow: 2px 3px 6px #573000;
							letter-spacing: .4px;
						}
					}
				}

      }
    }

    .parent-right-container {
      box-sizing: border-box; 
      width: 48vw;
      min-height: 94vh;  
      position: absolute;
      top: 3%;
      right: 2.0%;
      background: #f8f8f8;

      .ricky-image {
        margin: 0 auto;
        height: 94vh; 
        display: block;
      } 
    }
  }
}


.parent-container .scene-main {
	width: 96vw;
	min-height: 94vh;  
	position: absolute;
	top: 3%;
	left: 2.0%;
	color: $white; background: #53c5d3;

	.main-copy {
		opacity: 0;
		animation-name: fadeIn;
		animation-delay: 1s;
		animation-duration: 1s;

		box-sizing: border-box; 
		width: 70%;
		margin: 0 auto;
		word-wrap: break-word;

		h3 {
			color: black; 
			font-weight: 900;
			font-size: 13vh;

			&:last-of-type {
				position: relative;
				top: -30px;
			} 
		
			.period { color: #ff5851; }
		} 

		h4 { font-size: 5vh; }

		ul { 
			margin-top: 40px;
			color: black; 
			font-weight: 500;
			font-size: 2vh;

			li {
				margin-bottom: 10px;
			}
		}
	}

	animation-duration: .8s;
	transition-timing-function: ease-in;
	animation-fill-mode: both;
}
.parent-container .scene-main--fadein {
	animation-name: width;
}
.smooth-state.is-exiting .scene-main {
	animation-direction: alternate-reverse;
}

@keyframes fadeIn {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}

}

@keyframes width {
  0% {
    width: 96vw;
  }
  100% {
    width: 48vw;
  }
}
