$main-bg-color: #79b4cb;
$dark-font: #333;
$white: #fff;
$black: #000;

body.root-container {
  background-color: $main-bg-color;
	width:100%;
	height:100%;
	margin:0;
  padding-bottom: 50px;
	position:relative;
  color: $dark-font;
  font-family: -apple-system, BlinkMacSystemFont, "Avenir Next", "Avenir",
    "Segoe UI", "Lucida Grande", "Helvetica Neue", "Helvetica", "Fira Sans",
    "Roboto", "Noto", "Droid Sans", "Cantarell", "Oxygen", "Ubuntu",
    "Franklin Gothic Medium", "Century Gothic", "Liberation Sans", sans-serif;
}

.parent-container {
  width: 90%;
  margin: 4vw auto;

  .left-container {
    width: 50%;
    float: left;
    padding-top: 20px;

    .main-header-font {
      font-size: 8vw;
      line-height: 7vw; 
      margin: 0;
      padding: 0;	
    }

    .port-button {
      background: #e77e00;
      border-radius: 20px;
      color: $white;
      width: 160px;
      height: 35px;
      line-height: 35px;
      text-align: center;
      font-weight: bold;

      &:hover { cursor: pointer; }
    }

    h1 { font-weight: 100;}

    h3 {
      color: $white;
      opacity: 0.6;
    }

    hr { border-top: 1px solid $white; }

    p { line-height: 25px; }

    .sub-content-container {
      width: 100%;

      .sub-header {
        margin-top: 20px;
        background: rgba(0, 0, 0, 0.2);
        color: $white;
        width: 80px;
        text-align: center;
        height: 28px;	

        p { 
          font-size: 12px; 
          line-height: 28px;
        }
      }

      .skills { 
        margin-left: 15px; 

        h3 { 
          margin: 10px 0; 
          color: $black;
        }

        p {
          padding: 0;
          margin: 0; 
        }

        ul {
          padding: 0;

          li {
            list-style: none; 
            margin-bottom: 20px;

            span { 
              font-size: 13px; 
              font-style: italic; 
            }
          } 
        }
      }  

      .portfolio-image-container {
        img { width: 100%; } 
      }
    }
  }

  .right-container {
    float: right;
    position: absolute;
    right: 0;
    width: 50%;

    .ricky-image { width: 100%; }
  }

  .port-view-container {
    display: none;
    position: absolute;
    right: 0;
    width: 50%; 
    padding-top: 100px;
    padding-right: 40px;

    ul {
      padding: 0;

      li {
        list-style: none; 
      } 
    }

    .portfolio-grid-container {
      margin-bottom: 10px;

      .port-description {
        float: left;
        width: 35%;

        h3 { 
					margin: 0; 
					font-size: 32px;
				}

				.description {
					font-size: 11px;
					margin: 0;
				}
      }

      img { 
				float: right;
        width: 63%; 
        margin-bottom: 40px;
        padding-left: 10px;
				height: 20vw;
      }
    }
  }
}

.close-button { 
  position: absolute;
	top: -500px;
  margin-left: 50px;
  color: white;
  font-size: 25px;
  z-index: 1000;
  cursor: pointer;

  span {
    font-size: 20px;
  }

  &:hover { cursor: pointer }
}

.clear { clear: both; }


@media only screen and (max-width: 1127px) {
  .portfolio-container { width: 78vw; }
}

@media only screen and (max-width: 997px) {
  .parent-container {
    margin-top: 0; 
    margin-bottom: 0;
  }

  .mobile-view { display: none; }

  .port-view-container {
    width: 100% !important;
    padding: 0 !important;
    margin-top: 50px;

    .portfolio-grid-container {
      img { 
        width: 90% !important;  
				height: 50vw !important;
        margin-right: 4.8vw;
      }

      .port-description { 
        display: none; 
      }
    }
  }

  .close-button-mobile {
    width: 100%;
    height: 40px;
    line-height: 40px;
    background: $black; margin-left: 0;
    position: fixed;
    top: 0;
    padding-left: 20px;
    font-size: 12px;
		opacity: .8;

    span { 
      position: relative;
      top: 1px;
      font-size: 12px; 
    }
  }
}


@media only screen and (max-width: 967px) {
  .learn-container { width: 78vw !important; }
}

@media only screen and (max-width: 495px) {
  .know-container { width: 78vw !important; }
}
