@import 'variables';
@import 'media_queries';

.period { color: #ff5851; }

.clear { clear: both; }

.glitch { animation: $glitch; }

.thin-font { font-weight: 100; }
.o-white-font { 
	color: white;
	opacity: 0.6;	
}

h1, h3, h4 { margin: 0; padding: 0; }

hr { border-top: solid #fff; } 
html { height: 100%; }

body.root-container {
	margin:0; color: $dark-font;
  font-family: "Montserrat", sans-serif;
  font-family: -apple-system, BlinkMacSystemFont, "Avenir Next", "Avenir",
    "Segoe UI", "Lucida Grande", "Helvetica Neue", "Helvetica", "Fira Sans",
    "Roboto", "Noto", "Droid Sans", "Cantarell", "Oxygen", "Ubuntu",
    "Franklin Gothic Medium", "Century Gothic", "Liberation Sans", sans-serif;
  text-rendering: optimizeLegibility;   
  -webkit-font-smoothing: antialiased; 
  -moz-osx-font-smoothing: grayscale;
}

.mailer-icon {
	display: none;
	position: absolute;
	top: 5px;
	right: 10px;
	z-index: 1;
	color: #4CAAD8;
	opacity: .8;
	font-size: 25px;
  z-index: 10000;

	.fa-envelope {
		position: absolute;
		top: 0;
		right: 0;
		z-index: 100;

		&:hover {
			opacity: 0;
			cursor: pointer;
		}

		&:hover + .fa-envelope-open {
			opacity: 1;
		}
	}

	.fa-envelope-open {
		opacity: 0;
		position: absolute;
		top: -3px;
		right: 0;
	}
}	

.parent-container {
  min-height: 100vh;

	.width-animation { 
		animation-name: width; 
		animation-duration: .8s;
		transition-timing-function: ease-in-out;
		animation-fill-mode: both;
	}

  .parent-inner {
    padding-left: 2%;

		.parent-left-container {
			width: 96vw;
			min-height: 94vh;  
			overflow: hidden;
			position: absolute;
			top: 3%;
			left: 2.0%;
			color: $white; 
			background: #53c5d3;
	
			.intro-copy { 
				width: 50%;
				margin: 15% auto;

				.hello-txt { 
					position: relative;
					top: 30px;
					text-align: center;
					font-size: 4rem; 
					opacity: 0;
				} 

				span { 
					opacity: 0;
					line-height: 30px; 
				}

				a { 
					text-decoration: none; 
					color: white;

					.learn-more-button { 
						opacity: 0;
						background: #ff5851;
						padding: 10px;
						width: 120px;
						margin-top: 30px;
						border-radius: 30px;
						text-align: center;

						&:hover {
							cursor: pointer; 
							box-shadow: 2px 3px 6px #573000;
							letter-spacing: .4px;
						}
					}
				}
			}

			.main-copy {
				opacity: 0;
				box-sizing: border-box; 
				width: 70%;
				margin: 0 auto;
				word-wrap: break-word;
				animation: fadeIn 2s forwards;
				animation-delay: 1s;

				.skill-info { 
					width: 100%; 
					font-size: 13px;
					
					.counter { float: right; }
				}

				.skill-graph {
					background: white;
					margin-bottom: 3vh;
					margin-top: .5vh;

					.graph--fill--html {
						width: 0%;
						height: 3.4vh;
						background: #EB6358;
						animation: chartFill-html 2s ease-in-out forwards;
						animation-delay: 2s;
					}

					.graph--fill--css {
						width: 0%;
						height: 3.4vh;
						background: #EB6358;
						animation: chartFill-css 2s ease-in-out forwards;
						animation-delay: 2s;
					}

					.graph--fill--js {
						width: 0%;
						height: 3.4vh;
						background: #EB6358;
						animation: chartFill-js 2s ease-in-out forwards;
						animation-delay: 2s;
					}
				}

				#chartContainer {

					.canvasjs-chart-canvas { 
					}
				}

				h3 {
					color: black; 
					font-weight: 900;
					font-size: 10vh;
				} 

				h4 { 
					font-size: 5vh; 
				}

				ul { 
					margin-top: 40px;
					color: black; 
					font-weight: 500;
					font-size: 2vh;

					li {
						margin-bottom: 10px;
					}
				}
			}
		}

    .parent-right-container {
      box-sizing: border-box; 
      width: 48vw;
      /*min-height: 94vh;  */
      position: absolute;
      top: 3%;
      right: 2.0%;
      background: #f8f8f8;

      .ricky-image {
        margin: 0 auto;
        height: 94vh; 
        display: block;
      } 
    }
		
		.mouse-down {
			position: absolute;
			bottom: 4%;
			left: 49%;
			box-sizing: border-box;
			width: 25px;
			height: 35px;
			border-radius: 12px;
			border: solid #cfcfcf 2px;
			background: white;
			text-align: center;
			vertical-align: middle;
			box-shadow: 3px 1px 15px 2px hsla(0,0%,0%,.2);
			transition: all ease-in-out .23s;
			animation: mouseDown 2s ease-in-out infinite;
			animation-delay: 1s;

			&:hover {
				cursor: pointer;
				box-shadow: 0 0 10px 1px hsla(0,0%,0%,.2);
				animation-play-state: paused;
			}

			&:hover > .tool-tip {
				animation: fadeIn 1s ease-in-out forwards;
			} 

			.tool-tip {
				opacity: 0;
				position: absolute;
				top: -20px;	
				left: -40px;
				width: 100px;	
				text-align: center;
				font-weight: 900;
				font-size: 1.5vh;
			}

			.fa-chevron-down {
				position: relative;
				top: 13px;
				font-size: 13px;
			}

		}
  }
}

.parent-container.is-exiting .parent-left-container {
	animation-direction: alternate-reverse;
}

.parent-container.is-exiting .mouse-down {
	animation-direction: alternate-reverse;
}


#portfolio {
	position: absolute;
	top: 100vh;
	width: 100%;
	height: 4000px;
}

.legend {
	width: 40%;
	position: absolute;
	left: 70%;
	font-size: 15px;
	margin-top: 10%;
	text-align: right;

	.legend-item {
		.circle-1 {
			width: 15px;
			height: 15px;
			border: solid white 1px;
			border-radius: 15px;
			background: #B35752;
			float: left;
			margin: 2px 5px 0 0;
		}

		.circle-2 {
			width: 15px;
			height: 15px;
			border: solid white 1px;

			border-radius: 15px;
			background: #6f67d7;
			float: left;
			margin: 2px 5px 0 0;
		}

		.circle-3 {
			width: 15px;
			height: 15px;
			border: solid white 1px;

			border-radius: 15px;
			background: #EA9A57;
			float: left;
			margin: 2px 5px 0 0;
		}

		.circle-4 {
			width: 15px;
			height: 15px;
			border: solid white 1px;

			border-radius: 15px;
			background: #2bcf0b;
			float: left;
			margin: 2px 5px 0 0;
		}

		span { float: left; }

	}

}

figure {
  display: block;
  height: 0;
  margin: 0 auto;
  position: relative;
	left: -20%;
  font-size:16px;
  font-size:1vw;
  width: 70%;
	margin-top: 10%;

	h5 { 
		color: black;
		font-weight: 900;
		font-size: 2vh;
	}
}

svg {
	position: relative;
  display: block;
  width: 100%;
  position: relative;
  top: 0;
  left: 0;
  overflow: visible;
}

circle {
  fill: rgba(0,0,0,0);
  stroke-width: 31.8309886184;
  stroke-dasharray: 0,0,0,100;
  stroke-dashoffset: 25;
  animation: pie1 6s ease both;
}

.pie1 {
	stroke: hsl(3, 39%, 51%);
}

.pie2 {
	stroke: hsl(244, 58%, 62%);
  animation-name: pie2;
}

.pie3 {
	stroke: hsl(27, 78%, 63%);
  animation-name: pie3;
}

.pie4 {
	stroke: hsl(110, 90%, 43%);
  animation-name: pie4;
}

/* 1st pie is 40% */
@keyframes pie1 {
  50%,100% {stroke-dasharray: 40,60,0,0;}
}
/* 2nd pie is 30% */
@keyframes pie2 {
  50%,100% {stroke-dasharray: 0,40,30,30;}
}
/* 3rd pie is 30% */
@keyframes pie3 {
  50%,100% {stroke-dasharray: 0,70,20,10;}
}
/* 4th pie is 10% */
@keyframes pie4 {
  50%,100% {stroke-dasharray: 0,90,10,0;}
}
