!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}
    %meta{:charset => "utf-8"}
    %meta{:content => "ie=edge", "http-equiv" => "x-ua-compatible"}
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}
    %title= current_page.data.title || "Ricky Ahn's Portfolio"
    = stylesheet_link_tag "site"

    %link{:href => "images/favicon/favicon-96x96.png", :rel => "shortcut icon"}
    %link{:href => "images/favicon/apple-touch-icon-57x57.png", :rel => "apple-touch-icon-precomposed", :sizes => "57x57"}
    %link{:href => "images/favicon/apple-touch-icon-114x114.png", :rel => "apple-touch-icon-precomposed", :sizes => "114x114"}
    %link{:href => "images/favicon/apple-touch-icon-72x72.png", :rel => "apple-touch-icon-precomposed", :sizes => "72x72"}
    %link{:href => "images/favicon/apple-touch-icon-144x144.png", :rel => "apple-touch-icon-precomposed", :sizes => "144x144"}
    %link{:href => "images/favicon/apple-touch-icon-60x60.png", :rel => "apple-touch-icon-precomposed", :sizes => "60x60"}
    %link{:href => "images/favicon/apple-touch-icon-120x120.png", :rel => "apple-touch-icon-precomposed", :sizes => "120x120"}
    %link{:href => "images/favicon/apple-touch-icon-76x76.png", :rel => "apple-touch-icon-precomposed", :sizes => "76x76"}
    %link{:href => "images/favicon/apple-touch-icon-152x152.png", :rel => "apple-touch-icon-precomposed", :sizes => "152x152"}
    %link{:href => "images/favicon/favicon-196x196.png", :rel => "icon", :sizes => "196x196", :type => "image/png"}
    %link{:href => "images/favicon/favicon-96x96.png", :rel => "icon", :sizes => "96x96", :type => "image/png"}
    %link{:href => "images/favicon/favicon-32x32.png", :rel => "icon", :sizes => "32x32", :type => "image/png"}
    %link{:href => "images/favicon/favicon-16x16.png", :rel => "icon", :sizes => "16x16", :type => "image/png"}
    %link{:href => "images/favicon/favicon-128.png", :rel => "icon", :sizes => "128x128", :type => "image/png"}
    %meta{:content => " ", :name => "application-name"}
    %meta{:content => "#FFFFFF", :name => "msapplication-TileColor"}
    %meta{:content => "images/favicon/mstile-144x144.png", :name => "msapplication-TileImage"}
    %meta{:content => "images/favicon/mstile-70x70.png", :name => "msapplication-square70x70logo"}
    %meta{:content => "images/favicon/mstile-150x150.png", :name => "msapplication-square150x150logo"}
    %meta{:content => "images/favicon/mstile-310x150.png", :name => "msapplication-wide310x150logo"}
    %meta{:content => "images/favicon/mstile-310x310.png", :name => "msapplication-square310x310logo"}

    %link{:href => "https://fonts.googleapis.com/css?family=Montserrat", :rel => "stylesheet"}
    %script{:src => "https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"}
    %script{:src => "javascripts/modernizr.min.js"}
    %script{:src => "javascripts/jquery.smoothState.min.js"}
    %script{:src => "javascripts/smoothState.js"}
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    = javascript_include_tag "site", 'form_request'
    %script{:defer => "defer", :src => "https://use.fontawesome.com/releases/v5.0.8/js/all.js"}
    %script{:src => "https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.js"}
  %body.root-container
    = yield

