.contact-form-container
  %h1.contact-form-header
    %span.thin-font Lets 
    Work 
    %span.o-white-font Together!
  - if environment == :development
    %form{method: "POST", "netlify-honeypot" => "bot-field", name: "portfolio-contact", netlify: "", class: 'contact-form', action: ''}
      = partial 'input_fields'
  - else
    %form{method: "POST", "netlify-honeypot" => "bot-field", name: "portfolio-contact", netlify: "", class: 'contact-form', action: 'thank-you'}
      = partial 'input_fields'
  = partial '_success'
