.contact-form-container
  %h1.contact-form-header
    %span.thin-font Lets 
    Work 
    %span.o-white-font Together!
  %form{method: "POST", name: "contact", netlify: "", class: 'contact-form', action: '/success.html'}
    %label Name
    %input{name: 'name', type: 'text'}
    %br
    %br
    %label Email
    %input{name: 'email', type: 'email'}
    %br
    %br
    %label Message
    %textarea{name: 'message'}
    %div{'netlify-recaptcha' => ''}
    %button{type: 'submit'}
      Get In Touch! 

