.success-message
  %h3 
    Thank You For Reaching Out!
  %p
    %span.user-message
    Your email has been sent, and with some luck, the <span class="o-white-font">internet gods</span> will safely 
    deliver your message to me.  Please expect <strong>1-2 business days</strong> for a response.
    I look forward to speaking with you!
  .return-home
    %i.fas.fa-home
    Return Home 

