#main.parent-container
	.parent-inner
		.parent-right-container
			.mailer-icon
				%i.fa.fa-envelope
				%i.fa.fa-envelope-open
			= image_tag 'ricky-blink.gif', class: 'ricky-image'
		.parent-left-container.width-animation
			.main-copy
				%h3
					SKILLS<span class="period">.</span>
				%hr
				%br
				.skill-info
					%span HTML5
					%span.counter{'data-count': '95%'}
				.skill-graph
					.graph--fill--html
				.skill-info
					%span CSS3
					%span.counter{'data-count': '90%'}
				.skill-graph
					.graph--fill--css
				.skill-info
					%span JavaScript
					%span.counter{'data-count': '85%'}
				.skill-graph
					.graph--fill--js
				%figure
					%svg{:viewbox => "0 0 63.6619772368 63.6619772368"}
						%circle.pie1{:cx => "31.8309886184", :cy => "31.8309886184", :r => "15.9154943092"}
						%circle.pie2{:cx => "31.8309886184", :cy => "31.8309886184", :r => "15.9154943092"}
						%circle.pie3{:cx => "31.8309886184", :cy => "31.8309886184", :r => "15.9154943092"}
						%circle.pie4{:cx => "31.8309886184", :cy => "31.8309886184", :r => "15.9154943092"}
				.legend
					.legend-item
						.circle-1
						%span.ruby-on-rails Ruby on Rails
					%br
					%br
					.legend-item
						.circle-2
						%span Github
					%br
					%br
					.legend-item
						.circle-3
						%span Photoshop
					%br
					%br
					.legend-item
						.circle-4
						%span Wordpress
		.mouse-down
			.tool-tip
				Scroll Down<span class='period' style="font-size: 20px;">.</span>
			.i.fas.fa-chevron-down
