.parent-container
  .parent-inner
    .parent-right-container
      .mailer-icon
        %i.fa.fa-envelope
        %i.fa.fa-envelope-open
      = image_tag 'ricky-blink.gif', class: 'ricky-image'
    #main.parent-left-container-about.is-exiting
      .main-copy
        %h3
          SKI
        %h3
          LLS<span class='period'>.</span>
        .period
        %h4
          An overview of your digital strategy.
        %ul
          %li Responsive HTML5
          %li BEM/CSS3 via Sass
          %li Javascript frameworks (React, AngularJS)
          %li JQuery
          %li Content Management Systems (Wordpress, Squarespace, Weebly)
          %li Ruby on Rails
          %li Github
          %li Photoshop

