#main.parent-container
  .parent-inner
    .parent-left-container
      .intro-copy
        <strong class='hello-txt'>hello!</strong>         
        <span>My name is <strong><u>Ricky Ahn</u></strong>. 
        I am a San Francisco based <strong><u>Front End Developer</u></strong> specializing in UI/UX build for front and back end applications. I enjoy building sites 
        and working with people!</span>
        = link_to '/about.html', class: 'about' do
          .learn-more-button
            LEARN MORE
      = image_tag 'ricky-blink.gif', class: 'ricky-mobile-intro'
